.container {
    display: block;
    width: 1060px;
    margin: 0 auto;
}

.header {
    display: flex;
    padding-top: 50px;
}

.header .profile__info {
    width: 60%;
}

.header .profile__photo {
    width: 40%;
}

.header .profile__photo img{
    float: right;
    width: 319px;
    height: 332px;
}

.profile__info__content {
    width: 470px;
}

.profile__info__content * {
    font-size: 18px;
    padding: 2.5px 0 2.5px 0;
}

.profile__info__content svg{
    padding: 0;
}

.profile__info__content h1 {
    font-size: 24px;
    color: #5665AD;
}

.profile__info__content h2 {

}

.profile__info__content h1, .profile__info__content h2{
    text-align: center;
}

.profile__links{
    text-indent: 20px;
}

article > *{
    padding: 5px 0 5px 0;
}

article > *:first-child{
    padding: 0 0 5px 0;
}

article > *:last-child{
    padding-bottom: 5px 0 0 0;
}

fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
}

.article__title {
    display: inline-block;
    position: relative;
    font-size: 24px;
    padding: 0 10px;
}

.article__text {
    text-indent:47px;
    font-size: 18px;
}

.article__list {
    list-style-type: "-";
    padding-inline-start: 1ch;
    font-size: 18px;
}

fieldset {
    border-width: 4px;
    border-color: #4472C4;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: center;
}

.footer > p {
    float:right;
}